@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Monoton&family=Notable&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Vujahday+Script&family=Yesteryear&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
